@import "./../h5/pages/Error404.module";

.nav {
    grid-area: n;
    background-color: #5297e5;
    /*padding: 20px;*/
    display: flex;
    padding: 0 30px;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 300px;

}

.unShow {
    display: none;
}

.item {
    color: white;
    text-decoration: none;
}

.active {
    color: gold;
}

.burgerBtn {
    width: 25px;
    height: 25px;
    background-color: #4d4de5;
    position: absolute;
    top: 20px;
}